/*****COULEURS*****/
:root {
  --black-01: #1D1C22;
  --black-02: #111015;  
  --black-03: #0c0b0f;
  
  --white: #FFFFFF;
  --text-white: #D9D9D9;
  
  --blue: #6F97DD;
  
  --purple: #6A3C8C;
  
  --gradient-lr: linear-gradient(90deg, #6F97DD 0%, #6A3C8C 100%);
  --gradient-rd: radial-gradient(50% 50% at 50% 50%, #6F97DD 0%, #6A3C8C 100%);
  --gradient-tb: linear-gradient(180deg, #6F97DD 0%, #6A3C8C 100%);
  
  --lucarion: #306ED9;
  --orochi: #B48EC2;
  --meridiem: #56AD90;
  --qalish: #CCA135;
  --halogia: #C7303A;
  --vagabonds: #B07751;
  --nonvalid: #6F6363;
  
  --cryo: #a0d7e4;
  --dendro: #a6c938;
  --pyro: #ef7a35;
  --hydro: #4787b7;
  --electro: #b08fc2;
  --anemo: #75c2aa;
  --geo: #feca72;
  --cosmo: #7985bf;
  --astro: #e2f4c7;
}

/*** Les éléments !  --------------- ***/
.pyro {color: var(--pyro);}
.cryo {color: var(--cryo);}
.hydro {color: var(--hydro);}
.geo {color: var(--geo);}
.anemo { color: var(--anemo);}
.electro {color: var(--electro);}
.dendro {color: var(--dendro);}
.cosmo {color: var(--cosmo);}
.astro {color: var(--astro);}

/*****FICHE ADMINISTRATIVE*****/
.fiche-admin {border-radius: 15px; background: var(--black-01); padding: 30px; width: 820px;}
.fiche-image {background-color: var(--black-02); margin: 0 0 20px 0; border-radius: 5px; overflow: hidden;}
.fiche-image img {opacity: 0.5; filter: grayscale(1); width:760px; height:250px; object-fit:cover;}
.fiche-texte {margin: 0 25px; color: var(--text-white); text-align: justify;}
.fiche-titre {font-family: RELIGATH; font-size: 40px; border-bottom: 5px solid transparent; border-image: var(--gradient-lr); border-image-slice: 1; width: fit-content;}
.fiche-soustitre {background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: fit-content; text-transform: uppercase; font-family: Rowdies; font-size: 20px; font-weight: 700;}
.fiche-soustexte {font-size: 15px; font-weight: 700; text-transform: uppercase;}
.fiche-abc {border-radius: 5px; background: var(--gradient-lr); width: fit-content; font-family: Rowdies; font-size: 16px; font-weight: 700; text-transform: uppercase; padding: 10px;}
span.fiche-perso {font-weight: 700;}
span.fiche-perso i {color: rgba(255, 255, 255, 0.60);}
.fiche-fond {border-radius: 5px; background: var(--black-02); padding: 5px;}


/*pour l'image*/
.rp-image {position:relative; background-repeat:no-repeat; background-size: cover; background-position: center; filter: grayscale(1); filter: grayscale(100%) contrast(75%) brightness(50%); mix-blend-mode: soft-light; height: 210px;}
.rp-titre h2 {margin:0; width: 570px; font-family: Rowdies; font-size: 36px; font-weight: 400;}
.rp-titre {position:absolute; top:0px; display: flex; align-items: center; justify-content: space-between; background: linear-gradient(180deg, rgba(29, 28, 34, 0.00) 0%, var(--black-01) 100%); height: 210px; width:100%; padding: 10px 35px;}
.icons-feat {width: 130px; display: flex; flex-wrap: wrap; gap: 10px;}
.icons-feat img {width:60px; height:60px; border:5px solid var(--black-02); border-radius:5px;}
.rp-text {background:var(--black-01); padding:30px; font-family: arial; font-size:15px; color:var(--text-white); line-height: 18px; text-align: justify;}
.dialogue {display:flex; gap:15px; justify-content: flex-start; margin:15px 0px;}
.dialogue h3 {margin:0px 0px 10px 0px; font-size:20px; font-family: Rowdies; width:100%; display:flex; border: none;}
.Dleft, .Dleft :is(.dialogue h3) {flex-direction: row;justify-content: flex-start;}
.Dright, .Dright :is(.dialogue h3) {flex-direction: row-reverse;justify-content: flex-start;}
.dialogue img {width:80px; height:80px; border-radius:100%; box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.1); padding:10px;}
.dialogue p {background: var(--black-02); padding:20px; border-radius:5px; margin:0;}
.notes {background: rgba(0, 0, 0, 0.35); padding:15px; font-family: arial; font-size:15px; color:var(--text-white);}

/*pour gérer les couleurs de dialogue*/
.D-orochi :is(.dialogue img) {background:var(--orochi);}
.D-orochi :is(h3) {color:var(--orochi);}

.D-lucarion :is(.dialogue img) {background:var(--lucarion);}
.D-lucarion :is(h3) {color:var(--lucarion);}

.D-meridiem :is(.dialogue img) {background:var(--meridiem);}
.D-meridiem :is(h3) {color:var(--meridiem);}

.D-qalish :is(.dialogue img) {background:var(--qalish);}
.D-qalish :is(h3) {color:var(--qalish);}

.D-halogia :is(.dialogue img) {background:var(--halogia);}
.D-halogia :is(h3) {color:var(--halogia);}

.D-vagabonds :is(.dialogue img) {background:var(--vagabonds);}
.D-vagabonds :is(h3) {color:var(--vagabonds);}

/*****COULEURS GROUPES*****/
.couleur-lucarion {color: var(--lucarion)!important;}
.couleur-orochi {color: var(--orochi)!important;}
.couleur-meridiem {color: var(--meridiem)!important;}
.couleur-qalish {color: var(--qalish)!important;}
.couleur-halogia {color: var(--halogia)!important;}
.couleur-vagabonds {color: var(--vagabonds)!important;}
.couleur-mom {color: var(--blue)!important;}
.couleur-staff {color: var(--purple)!important;}
.couleur-nonvalid {color: var(--nonvalid) !important;}

.fond-lucarion {background: var(--lucarion)!important;}
.fond-orochi {background: var(--orochi)!important;}
.fond-meridiem {background: var(--meridiem)!important;}
.fond-qalish {background: var(--qalish)!important;}
.fond-halogia {background: var(--halogia)!important;}
.fond-vagabonds {background: var(--vagabonds)!important;}
.fond-nonvalid {background: var(--nonvalid) !important;}
.fond-mom {background: var(--blue)!important;}
.fond-staff {background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);!important;}

/*****FICHE ADMINISTRATIVE*****/
.fiche-admin {border-radius: 15px; background: var(--black-01); padding: 30px; width: 820px;}
.fiche-image {background-color: var(--black-02); margin: 0 0 20px 0; border-radius: 5px; overflow: hidden;}
.fiche-image img {opacity: 0.5; filter: grayscale(1);}
.fiche-texte {margin: 0 25px; color: var(--text-white);}
.fiche-titre {font-family: RELIGATH; font-size: 40px; border-bottom: 5px solid transparent; border-image: var(--gradient-lr); border-image-slice: 1; width: fit-content;}
.fiche-soustitre {background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: fit-content; text-transform: uppercase; font-family: Rowdies; font-size: 20px; font-weight: 700;}
.fiche-soustexte {font-size: 15px; font-weight: 700; text-transform: uppercase;}
.fiche-abc {border-radius: 5px; background: var(--gradient-lr); width: fit-content; font-family: Rowdies; font-size: 16px; font-weight: 700; text-transform: uppercase; padding: 10px;}
span.fiche-perso {font-weight: 700;}
span.fiche-perso i {color: rgba(255, 255, 255, 0.60);}
.fiche-fond {border-radius: 5px; background: var(--black-02); padding: 5px;}

/***FICHE ROLE***/
.fiche-role {display: flex; gap: 15px;}
.role-gauche {display: flex; gap: 15px; flex-flow: column;}
.role-titre {border-radius: 5px; padding: 10px 15px; text-align: right; display: flex; justify-content: space-between; font-family: Rowdies; font-size: 20px; text-transform: uppercase;}
.role-dispo, .role-pris {border-radius: 5px; padding: 8px; font-size: 11px;}
.role-dispo {background: #578B5C;}
.role-pris {background: #8B5757;}
.role-texte {border-radius: 5px; background: var(--black-02); padding: 15px 25px; min-width: 500px;}
.role-texte span {font-family: Rowdies; font-size: 15px;}
.role-image {position: sticky; top: 80px;}
.role-image img {width: 200px; height: 320px; border-radius: 5px; object-fit: cover;}

/***FICHE TECHNIQUE***/
.fiche-technique {display: flex; gap: 10px;}
.technique-gauche {display: flex; gap: 15px; flex-flow: column;}
.technique-titre {border-radius: 5px; padding: 10px 15px; text-align: right; display: flex; justify-content: space-between; font-family: Rowdies; font-size: 20px; text-transform: uppercase;}
.technique-dispo, .role-pris {border-radius: 5px; padding: 8px; font-size: 11px;}
.technique-dispo {background: #578B5C;}
.technique-pris {background: #8B5757;}
.technique-texte {border-radius: 5px; background: var(--black-02); padding: 15px 25px;}
.technique-texte span {font-family: Rowdies; font-size: 15px;}
.technique-image {position: sticky; top: 80px;}
.technique-image img {width: 200px; height: 200px; border-radius: 5px; object-fit:cover;}

/***FICHE-RP***/
.fiche-rp {position: relative; overflow: hidden; background: var(--black-01); width: 820px; border-radius: 5px;}

/*pour l'image*/
.rp-image {position:relative; background-repeat:no-repeat; background-size: cover; background-position: center; filter: grayscale(1); filter: grayscale(100%) contrast(75%) brightness(50%); mix-blend-mode: soft-light; height: 210px;}
.rp-titre h2 {margin:0; width: 570px; font-family: Rowdies; font-size: 36px; font-weight: 400;}
.rp-titre {position:absolute; top:0px; display: flex; align-items: center; justify-content: space-between; background: linear-gradient(180deg, rgba(29, 28, 34, 0.00) 0%, var(--black-01) 100%); height: 210px; width:100%; padding: 10px 35px;}
.icons-feat {width: 130px; display: flex; flex-wrap: wrap; gap: 10px;}
.icons-feat img {width:60px; border:5px solid var(--black-02); border-radius:5px;}
.rp-text {background:var(--black-01); padding:30px; font-family: arial; font-size:15px; color:var(--text-white); line-height: 18px; text-align: justify;}
.dialogue {display:flex; gap:15px; justify-content: flex-start; margin:15px 0px;}
.dialogue h3 {margin:0px 0px 10px 0px; font-size:20px; font-family: Rowdies; width:100%; display:flex; border: none;}
.Dleft, .Dleft :is(.dialogue h3) {flex-direction: row;justify-content: flex-start;}
.Dright, .Dright :is(.dialogue h3) {flex-direction: row-reverse;justify-content: flex-start;}
.dialogue img {width:80px; height:80px; border-radius:100%; box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.1); padding:10px;}
.dialogue p {background: var(--black-02); padding:20px; border-radius:5px; margin:0;}
.notes {background: rgba(0, 0, 0, 0.35); padding:15px; font-family: arial; font-size:15px; color:var(--text-white);}

/*pour gérer les couleurs de dialogue*/
.D-orochi :is(.dialogue img) {background:var(--orochi);}
.D-orochi :is(h3) {color:var(--orochi);}

.D-lucarion :is(.dialogue img) {background:var(--lucarion);}
.D-lucarion :is(h3) {color:var(--lucarion);}

.D-meridiem :is(.dialogue img) {background:var(--meridiem);}
.D-meridiem :is(h3) {color:var(--meridiem);}

.D-qalish :is(.dialogue img) {background:var(--qalish);}
.D-qalish :is(h3) {color:var(--qalish);}

.D-halogia :is(.dialogue img) {background:var(--halogia);}
.D-halogia :is(h3) {color:var(--halogia);}

.D-vagabonds :is(.dialogue img) {background:var(--vagabonds);}
.D-vagabonds :is(h3) {color:var(--vagabonds);}

/*** Fiche de présentation de MOM --------------- ***/
.model_Message {
  width: 820px;
  margin: auto;
  border: solid 10px var(--neutralDark);
  border-radius: 10px;
  background: var(--black-01);
  text-align: justify;
  overflow: auto;
  overflow-wrap: break-word;
}
.titre_Message {
 font-family: var(--font);
 font-size: 50px;
 font-weight: 900;
 text-transform: uppercase;
 text-align: center;
 display: block;
 width: 100%;
 margin-right: auto;
 margin-left: auto;
 margin-top: -40px;
 margin-bottom: -10px;
 text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #d1bf91, 0 -10px 20px #d1bf91, 0 -18px 40px #121216;
}
.soustitre_Message {font-family: var(--font);font-weight: 700;display: block;text-align: center;font-size: var(--title-size);color : var(--textColorAccent);
}
.sectiontitre_Message {width: 100%;height: 50px;border-bottom: 2px solid #c2c2c2;font-family: var(--font);margin: 0;color: var(--contrastLighter);letter-spacing: -2px;position: relative;margin-bottom: 5px;text-align: left;font-size: var(--title-size);font-weight: 700;text-transform: uppercase;margin-bottom: 20px;margin-top: 20px;}
.sectiontitre_Message span {color : var(--textColorAccent);}
.sectiontitre_Message:after {width: 100%;content: " ";height: 2px;background: var(--color-pink);position: absolute;bottom: -7px;left: 0;}
.sectionintro_Message {display: flex;flex-direction : row;width: 820px;max-height: 320px;margin-bottom: 40px;}
.sectiongauche_Message {display: flex;flex-direction : column;width: 530px;margin-right: 15px;padding-right: 15px;overflow: auto;}
.avatar_Message {
    border-radius: 5px;
    width : 200px;
    height : 320px;
    object-fit: cover;
}
.sectionend_Message {
    display: flex;
    flex-direction : row-reverse;
    width: 515px;
    max-height: 100px;	
    margin-bottom: 20px;
}
.sectiondroite_Message {
    display: flex;
    flex-direction : column;
    width: 415px;
    margin-left: 15px;
    padding-left: 15px;
    overflow: auto; 
}
.irl_Message { 
   border-radius: 3px;
   width: 100px;
   height: 100px;
   object-fit: cover;
}
.inner_Message {
  padding:40px; 
  text-align:justify;
  font-size : var(--normal-size);
}
.model_Message .img_Message { 
  width: 820px;
  height: 240px;
  object-fit : cover;
  border-radius: 3px 3px 0px 0px;
}
.model_Message strong {
  color: var(--textColorAccent);
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}