/*****STRUCTURE*****/
a, a:hover, a:visited, a:active, a:hover a:link {text-decoration:none!important;}
#wrap {padding: 0; margin: 85px auto 0 auto; background-color: transparent; color: var(--white); font-family: Arial; font-size: 15px; font-style: normal; font-weight: 400; line-height: normal;}
#page-body {position: relative;}
a, a:link, a:visited, a:hover, a:active {text-decoration: none!important; color: inherit;}
#content-container #container {margin: 0;}
body {background: url(https://i.imgur.com/WqnmzJq.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; height: auto;}
.panel, .row1, .row2 {background: var(--black-01);}

/*****COULEURS*****/
:root {
  --black-01: #1D1C22;
  --black-02: #111015;  
  --black-03: #0c0b0f;
  
  --white: #FFFFFF;
  --text-white: #D9D9D9;
  
  --blue: #6F97DD;
  
  --purple: #6A3C8C;
  
  --gradient-lr: linear-gradient(90deg, #6F97DD 0%, #6A3C8C 100%);
  --gradient-rd: radial-gradient(50% 50% at 50% 50%, #6F97DD 0%, #6A3C8C 100%);
  --gradient-tb: linear-gradient(180deg, #6F97DD 0%, #6A3C8C 100%);
  
  --lucarion: #306ED9;
  --orochi: #B48EC2;
  --meridiem: #56AD90;
  --qalish: #CCA135;
  --halogia: #C7303A;
  --vagabonds: #B07751;
  --nonvalid: #6F6363;
  
  --cryo: #a0d7e4;
  --dendro: #a6c938;
  --pyro: #ef7a35;
  --hydro: #4787b7;
  --electro: #b08fc2;
  --anemo: #75c2aa;
  --geo: #feca72;
  --cosmo: #7985bf;
  --astro: #e2f4c7;
}

/*****SWITCH LINUS*****/
#l21nus-clis * {user-select:none; -webkit-user-drag:none;}
#l21nus-login a, .l21nus-moving .l21nus-cdel {display:none!important;}
#l21nus-login {position:absolute; top: auto!important; margin: -55px 0 0 80px; width:200px; overflow:hidden; box-shadow:4px 4px 5px rgba(0,0,0,.15);}
#l21nus-login form {display:flex; flex-direction:column; justify-content:center; position:relative; border-radius:5px; padding:1px;}
#l21nus-login input[type="submit"], #l21nus-login input[type="text"], #l21nus-login input[type="password"] {margin:0px!important; outline:0!important; font-size:10px!important; line-height:10px!important; border-radius:0px!important; font-family:arial!important; text-align:left!important; text-transform:none!important; box-sizing:border-box;}
#l21nus-login input[type="text"] {border-top-left-radius:4px!important;}
#l21nus-login input[type="password"] {border-top:1px solid rgba(0,0,0,.1)!important; border-bottom-left-radius:4px!important;}
#l21nus-login input[type="text"], #l21nus-login input[type="password"] {height:auto!important; width:80%!important; background:#fff!important; padding:5px!important;}
.l21nus-add a {background-color:transparent!important; font-size:24px!important; font-family:"times new roman"; color:#fff;}
.l21nus-add a:not(.l21nus-loading)::before {content:url('https://i.imgur.com/0RDKWAe.png'); display:flex; width:100%; height:100%; justify-content:center; align-items:center;}
#l21nus-clis li.l21nus-moving {z-index: 999;}
li.l21nus-moving .l21nus-drag, #l21nus-clis li:hover .l21nus-drag {}
.l21nus-moving {opacity:.5;}
#l21nus-login input[type="submit"] {position:absolute!important; right:0!important; height:100%!important; width:20%!important; padding:0px!important; background-image:url("data:image/svg+xml;utf8,%3Csvg%20id%3D%22light%22%20enable-background%3D%22new%200%200%2024%2024%22%20height%3D%22512%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%22512%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m15.5%2012.5h-15c-.276%200-.5-.224-.5-.5s.224-.5.5-.5h15c.276%200%20.5.224.5.5s-.224.5-.5.5z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m11.5%2016.5c-.128%200-.256-.049-.354-.146-.195-.195-.195-.512%200-.707l3.647-3.647-3.646-3.646c-.195-.195-.195-.512%200-.707s.512-.195.707%200l4%204c.195.195.195.512%200%20.707l-4%204c-.098.097-.226.146-.354.146z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m12%2023c-4.655%200-8.823-2.947-10.372-7.333-.092-.261.045-.546.305-.638.261-.09.546.045.638.305%201.408%203.987%205.197%206.666%209.429%206.666%205.514%200%2010-4.486%2010-10s-4.486-10-10-10c-4.232%200-8.021%202.679-9.428%206.667-.092.26-.378.395-.638.305-.26-.092-.397-.377-.305-.638%201.548-4.387%205.716-7.334%2010.371-7.334%206.065%200%2011%204.935%2011%2011s-4.935%2011-11%2011z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); background-size:55%; background-position:50%; background-repeat:no-repeat; background-color:transparent!important; color:transparent!important; cursor:pointer;}
#l21nus-clis {top:80px; left:30px; padding:0px!important; margin:0; z-index: 999; display:block!important; box-sizing:border-box; position: fixed;}
#l21nus-clis ul {padding:15px!important; margin:0; list-style-type:none; cursor:move;}
#l21nus-clis li {position:relative; display:flex!important; width:40px; height:40px; border-radius: 100px; border: 4px solid #000000; box-shadow: 1px 1px 0px #000000; margin: auto; overflow: hidden;}
#l21nus-clis li a {font-size: 0;}
#l21nus-login form, #l21nus-clis li {background: var(--gradient01)!important;}
#l21nus-clis li:not(:last-child) {margin-bottom:10px;}
#l21nus-clis a {display:block; overflow:hidden; width:100%; height:100%;}
.l21nus-logged a{cursor:default;}
#l21nus-clis img {width:100%;}
.l21nus-loading::before {content:' '; width:40px; height:40px; position:absolute; background-position:50%; background-image:url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22120%22%20height%3D%2230%22%20viewBox%3D%220%200%20120%2030%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23c0c0c0%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%3E%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3C/circle%3E%3Ccircle%20cx%3D%2260%22%20cy%3D%2215%22%20r%3D%229%22%20fill-opacity%3D%220.3%22%3E%3Canimate%20attributeName%3D%22r%22%20from%3D%229%22%20to%3D%229%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%229%3B15%3B9%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%220.5%22%20to%3D%220.5%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%22.5%3B1%3B.5%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3C/circle%3E%3Ccircle%20cx%3D%22105%22%20cy%3D%2215%22%20r%3D%2215%22%3E%3Canimate%20attributeName%3D%22r%22%20from%3D%2215%22%20to%3D%2215%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%2215%3B9%3B15%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3Canimate%20attributeName%3D%22fill-opacity%22%20from%3D%221%22%20to%3D%221%22%20begin%3D%220s%22%20dur%3D%220.8s%22%20values%3D%221%3B.5%3B1%22%20calcMode%3D%22linear%22%20repeatCount%3D%22indefinite%22%20/%3E%3C/circle%3E%3C/svg%3E%0A"); background-repeat:no-repeat; background-size:50%; background-color:rgba(0,0,0,0.25); right:0; top:0;}
#l21nus-clis li:hover .l21nus-cdel {display:flex;}
.l21nus-cdel {display:none; position:fixed; z-index:10; background:white; border-radius:100%; align-items:center; justify-content:center; font-family:arial; color:black; width:12px; height:12px; font-size:10px; line-height:10px; cursor:pointer;}
#Linus-switch {margin: 75px 0 0 20px; position: absolute;}
#Linus-switch img {margin: 0;}

/*****FONT*****/
@font-face {
    font-family: religath;
    font-style: normal;
     font-weight: 500;
   src: url('https://cdn.jsdelivr.net/gh/SixtineRPG/font/RELIGATH.otf') 
   }

.rowdies-light {font-family: "Rowdies", sans-serif; font-weight: 300; font-style: normal;}
.rowdies-regular {font-family: "Rowdies", sans-serif; font-weight: 400; font-style: normal;}
.rowdies-bold {font-family: "Rowdies", sans-serif; font-weight: 700; font-style: normal;}

/*****HEADER BARRE*****/
#NAV-BAR {height: 55px; background: var(--black-01); position: fixed; width: 100%; z-index: 999; display: flex; align-items: center; padding: 0 20px; justify-content: space-between;}
#NAV-BAR a {color: var(--white); font-family: Rowdies; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal; text-transform: uppercase;}
#NAV-BAR i {color: var(--blue);}
#NAV-BAR li a[href="/privmsg?folder=inbox"]::before {content: url('https://i.imgur.com/h9ayb2r.png'); position: relative; top: 2px; right: 2px;}
.NAV-BAR {display: flex; gap: 15px;}
.NAV-MSG {font-size:0;}
.NAV-MSG a, .NAV-MSG li, .NAV-MSG img {display: none;}
.NAV-MSG li:nth-child(0n+8), .NAV-MSG li:nth-child(0n+8) a {display: block;}

/*****IMAGES CHANGEANTES*****/
.img_header {width: 59%; height: 1060px; background-size: cover; background-position: center; margin: 0 0 0 20px;}
.img_pa {width: 972px; height: 979px; background-size: cover; background-position: top; position: absolute; right: 0;}
#img_pa {position: absolute; top: -79px; right: -265px; width: 996px; height: 910px; overflow: hidden;}
.img_qeel {width: 523px; height: 562px; background-size: cover; background-position: top; position: absolute; top: -82px; left: -182px;}

/*****HEADER*****/
#PA {height: 541px; position: relative;}
#PA img {position: absolute; right: 0; top: 190px;}
.img_header {position: relative;}
#PA-NOM {color: var(--white); font-family: RELIGATH; font-size: 128px; font-style: normal; font-weight: 400; line-height: 0%; position: absolute; top: 295px; right: 0;}
.PA-NOM {color: rgba(255, 255, 255, 0.15)!important; position: absolute; top: 295px; right: 0; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: var(--white); font-family: RELIGATH; font-size: 128px; font-style: normal; font-weight: 400; line-height: 0%;}
.PA-TXT {color: var(--white); font-family: Rowdies; font-size: 15px; font-style: normal; font-weight: 300; line-height: normal; letter-spacing: 1.2px; position: absolute; top: 355px; right: 0;}

/*****PAGE D'ACCUEIL*****/
.PA-BOX {width: 1200px; background: var(--black-01); border-radius: 5px; padding: 0 0 25px 0;}
.PA-TOP {background: var(--gradient-lr); border-radius: 5px 5px 0 0; padding: 18px 44px; color: var(--white); font-family: RELIGATH; font-size: 48px; font-style: normal; font-weight: 400; line-height: normal;}
.PA-MID {margin: 25px; padding: 30px; background: var(--black-02); border-radius: 5px;}
span.PA-TIT {font-family: RELIGATH; font-size: 64px; font-style: normal; font-weight: 400; line-height: normal; background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.PA-CTX {width: 584px; color: var(--text-white); font-family: Arial; font-size: 15px; font-style: normal; font-weight: 400; line-height: normal; text-align: justify;}
.PA-CTX b {color: var(--blue); font-weight: 700;}
.PA-MID a {position: relative; z-index: 20; border-radius: 5px; background: var(--gradient-lr); padding: 8px; width: 584px; margin: 10px 0 0 0; display: block; text-align: right; color: var(--text-white); font-family: Rowdies; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;}
.PA-BOT {position: relative; margin: 0 25px; display: flex; gap :25px;}

.PA-TIR {font-family: RELIGATH; width: fit-content; font-size: 32px; font-style: normal; font-weight: 400; line-height: normal; background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.PA-BLC {border-radius: 5px; background: var(--black-02); width: 245px; height: 381px; padding: 25px;}
#PA-NEW {overflow: auto; scrollbar-width: none; height: 317px; padding: 0 0 25px 0;}
.NEW-BLC {border-radius: 5px; background: var(--black-01); padding: 8px; color: var(--text-white); font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 16px; margin: 10px 0 0 0;}
.NEW-BLC span {font-family: Rowdies; font-size: 16px; font-style: normal; font-weight: 400; line-height: 18px; text-transform: uppercase; display: table; background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.PA-STA {width: 290px;}
.STA-BLC {border-radius: 5px; background: var(--black-01); display: flex; align-items: center; overflow: hidden; height: 63px; margin: 10px 0 0 0;}
.STA-IMG {width: 45px; height: 45px; border-radius: 100px; display: flex; align-items: center; justify-content: center; position: relative; left: -10px; margin: 0 10px 0 0;}
.STA-IMG img {width: 70px; height: 70px; border-radius: 100px; border: 5px solid rgba(0, 0, 0, 0.10);}
.STA-BLC div {color: var(--text-white); font-family: Rowdies; font-size: 14px; font-style: normal; font-weight: 400; line-height: 18px; text-transform: uppercase;}
.STA-BLC div span {font-size: 20px; line-height: normal; display:  block;}

.PA-VOT {width: 230px; height: 136px; margin: 0 0 25px 0; text-align: center;}
#PA-VOT {margin: 0 0 10px 0; font-family: Rowdies; font-size: 16px; font-style: normal; font-weight: 400; line-height: 18px; text-transform: uppercase; background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.PA-EVE {width: 230px; height: 220px; padding: 10px 18px; display: flex; gap: 10px; flex-flow: column; align-items: center;}
.PA-EVE .PA-TIR {font-size: 24px;}
.EVE-BLC {border-radius: 5px; background: var(--black-01); color: var(--text-white); font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 16px; padding: 8px;}
#PA-EVE {display: flex; gap: 10px; flex-flow: column; height: 161px; scrollbar-width: none; overflow: auto;}

/***DERNIERS MESSAGES***/
.PA-LSJ {border-radius: 5px; background: var(--black-02); height: 381px; width: 310px; padding: 24px;}
#left {float: none;}
#left .module {background-color: inherit; margin-bottom: 0; padding: 0; overflow: auto; height: 294px; width: 260px; scrollbar-color: var(--black-02) var(--black-01); scrollbar-width: thin; border-radius: 0; box-shadow: none;}
.module .recent-bloc {background: var(--black-01); padding: 10px; border-radius: 15px; margin: 8px 0 0 0; width: 240px;}
.module .mod-recent-title {color: var(--text-white); font-family: Rowdies; font-size: 15px; font-style: normal; font-weight: 300; line-height: 18px;}
.module .mod-recent-info {color: var(--text-white); font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal;}
.module .mod-recent-author, .module .mod-recent-author a {font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal; display: flex; margin: 0; gap: 5px;}
.module .mod-recent-time {color: var(--text-white); font-family: Arial; font-size: 11px; font-style: normal; font-weight: 700; line-height: normal;}

/*****GENERAL*****/
.BLOC {border-radius: 5px; background: var(--black-01);}

/*****PARTENAIRES*****/
.PART {padding: 25px; display: flex; gap: 10px; margin: 25px 0;}
.PART img {border-radius: 5px;}

/*****GUIDEBOOK PA*****/
.GDB {height: 282px; position: relative;}
.GDB-TIT {background: var(--gradient-lr); width: 749px; border-radius: 5px 5px 0 0; padding: 15px; color: var(--white); font-family: RELIGATH; font-size: 64px; font-style: normal; font-weight: 400; line-height: normal;}
.GDB-TXT {width: 439px; height: 144px; margin: 15px; overflow: auto; scrollbar-width: none; color: var(--white); font-family: Arial; font-size: 15px; font-style: normal; font-weight: 400; line-height: normal;}
.GDB-LIN {padding: 25px 25px 25px 0; position: relative; display: flex; gap: 10px; flex-flow: wrap; justify-content: end; align-content: center;}
.GDB-IMG {background: url(https://imgur.com/mrAxkRc.png); position: absolute; width: 436px; top: -28px; left: -303px; height: 309px;}
.GDB-LIN span {text-align: center; font-family: Rowdies; font-size: 16px; font-style: normal; font-weight: 400; line-height: 18px; text-transform: uppercase; background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.GDB-LIN a {border-radius: 5px; background: var(--blue); padding: 8px; color: var(--white); font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal; position: relative;}

/*****CATEGORIES*****/
#nav_cat_onglets {background: var(--black-01); display: flex; padding: 25px; gap: 25px; border-radius: 5px; margin: 0 0 25px 0;}
#nav_cat li {position: relative; list-style: none; cursor: pointer; z-index: 1; width: 100%; border-radius: 5px; background: var(--black-02); padding: 25px; color: var(--white); text-align: center; font-family: RELIGATH; font-size: 24px; font-style: normal; font-weight: 400; line-height: normal;}
#nav_cat_onglets .actif {background: var(--gradient-lr); z-index: 10;}
.linklist {margin: 10px 0; color: var(--white); border-width: 0!important; padding-bottom: 0!important; padding-top: 0!important;}

.forabg {margin-bottom: 0; clear: both; background-color: transparent; background-image: none; background-repeat: no-repeat; background-position: 0 0; padding: 0; border-radius: 0; box-shadow: none;}
ul.topiclist.forums {display: flex; gap: 25px;}
ul.forums {background-color: transparent;}
li.row {border-color: transparent; border-style: none; border-width: 0; background: var(--black-01); width: 100%; border-radius: 5px;}
.forabg .row:last-child {border-radius: 5px;}
li.row:hover {background: var(--black-01);}

.CAT {padding: 25px; position: relative; border-radius: 5px;}
.CAT-TIT {display: flex; gap: 10px; align-items: center;}
.CAT-TIT img {height: 15px;}
.CAT-TIT a, .CAT-TIT a:link, .CAT-TIT a:hover, .CAT-TIT a:visited {color: var(--white); font-family: Rowdies; font-size: 27px; font-style: normal; font-weight: 400; line-height: normal;}
.CAT-BOR {background: var(--gradient-lr); height: 4px; border-radius: 5px;}
.CAT-INF {border-radius: 5px; background: var(--black-02); margin: 15px 0; padding: 5px 10px; color: var(--white); font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: normal;}
.CAT-DES {display: flex; height: 68px; scrollbar-width: thin; overflow: auto; color: var(--white); font-family: Arial; font-size: 15px; font-style: normal; font-weight: 400; line-height: normal; text-align: justify;}
.CAT-DES img {position: absolute; width: 333px; height: 120px; bottom: 0; border-radius: 5px;}
#CAT-DES {width: 333px; height: 145px;}
.CAT-POS {margin: 15px 0; display: flex; gap: 15px;}
.CAT-POS .lastpost-avatar img {border-radius: 5px; border: 5px solid var(--black-02); width: 90px; height: 141px; padding: 0;}
.CAT-POS .lastpost-avatar {padding: 0; float: none;}
.CAT-POS .lastpost-infos {height: 141px; border-radius: 5px; background: var(--black-02); padding: 25px; display: flex; flex-flow: column; justify-content: center; gap: 5px;}
.CAT-LAS {color: var(--text-white); font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal;}
.CAT-LAS strong {font-family: Arial; font-size: 15px; font-style: normal; font-weight: 700; line-height: normal;}
.lastpost-infos a {color: var(--blue); font-family: Rowdies; font-size: 15px; font-style: normal; font-weight: 400; line-height: 16px;}
.last-post-icon {display: inline-block; margin-top: 13px;}
.CAT-SOU {border-radius: 5px; background: var(--black-02); padding: 10px; height: 72px; display: flex; align-items: center; justify-content: center; flex-flow: wrap; gap: 10px;}
.CAT-SOU a {color: var(--text-white); font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal;}
.CAT-SEP {background: var(--gradient-rd); width: 5px; height: 5px; transform: rotate(-45deg);}

.cat1 ul.topiclist.forums, .cat2 ul.topiclist.forums {flex-flow: column;}
.cat0 ul.topiclist.forums {flex-flow: wrap;}
.cat0 ul.topiclist li {width: 383px;}
.cat1 .CAT-TIT, .cat2 .CAT-TIT {width: 522px;}
.cat1 .CAT-BOR, .cat2 .CAT-BOR {width: 522px;}
.cat1 .CAT-INF, .cat2 .CAT-INF {width: 522px;}
.cat1 .CAT-DES, .cat2 .CAT-DES {width: 522px;}
.cat1 #CAT-DES, .cat2 #CAT-DES {height: 0;}
.cat1 .CAT-DES img, .cat2 .CAT-DES img {top: -85px; width: 603px; height: 321px; right: 0; left: initial; opacity: 1; filter: none;object-fit: cover;}
.cat1 .CAT-POS, .cat2 .CAT-POS {width: 522px; margin: 27px 0 15px 0; position: relative; right: 0; top: 0;}
.cat1 .CAT-POS .lastpost-infos, .cat2 .CAT-POS .lastpost-infos {width: 100%;}

.cat0 .CAT-TIT, .cat0 .CAT-BOR, .cat0 .CAT-INF, .cat0 .CAT-DES {width: 333px;}
.cat0 .CAT-DES img {height: 120px; top: initial; left: initial;object-fit: cover;}
.cat0 #CAT-DES {display: block;}
.cat0 .CAT-POS {position: relative; top: 0; right: 0; margin: 15px 0;}
.cat0 .CAT-POS .lastpost-infos {width: 100%;}
.cat0 .CAT-SOU {margin-top: 0;}

/*****QEEL*****/
.QEL {display: flex; gap: 25px; flex-flow: wrap; position: relative;}
.QEL-BVN {width: 697px; height: 85px; overflow: hidden; display: flex; justify-content: flex-end; align-items: center; gap : 25px; border-radius: 5px; background: var(--black-01); padding: 0 25px;}
#avatar_dernier_membre {border-radius: 100px; border: 20px solid var(--black-02); width: 140px; height: 140px; overflow: hidden;}
#avatar_dernier_membre img {width: 100px; position: relative; top: -35px;}
#dernier_membre {font-size: 0; text-align: right;}
#dernier_membre div {color: var(--white); font-family: RELIGATH; font-size: 24px; font-style: normal; font-weight: 400; line-height: normal;}
#dernier_membre strong {font-family: Rowdies; font-size: 24px; font-style: normal; font-weight: 400; line-height: 10px;}
.QEL-GRD {width: 226.5px; border-radius: 5px; background: var(--gradient-lr); display: flex; flex-direction: column; justify-content: center; align-items: center; color: var(--white); font-family: Rowdies; font-size: 16px; font-style: normal; font-weight: 400; line-height: 20px;}
.QEL-GRD strong {font-family: RELIGATH; font-size: 32px;}
.QEL-INF {display: flex; gap: 25px; padding: 25px; border-radius: 5px; background: var(--black-01); position: relative;}
.QEL-COS {background: var(--black-02); border-radius: 5px; width: 325px; height: 248px; display: flex; overflow: hidden;}
.QEL-CO {width: 37px; background: var(--gradient-tb);}
.QEL-CO div {width: 248px; height: 229px; transform: rotate(-90deg); color: var(--white); text-align: center; font-family: Rowdies; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal; text-transform: uppercase;}
.QEL-CON {position: relative; display: block; padding: 15px; overflow: auto; width: 288px; height: 248px; color: var(--white); font-family: Arial; font-size: 15px; font-style: normal; font-weight: 700; line-height: normal;}
.QEL-CON br {display: none;}
.QEL-GRP {width: 450px; background: var(--black-02); border-radius: 5px;}

.QEL-GRO {display: flex; gap: 25px;}
.QEL-GRS {position: absolute; right: 25px; top: 135px;}
.QEL-GRS div {display: none; width: 450px; background: var(--black-02); border-radius: 5px; color: var(--text-white); font-family: Arial; font-size: 15px; font-style: normal; font-weight: 400; line-height: normal;}
.QEL-GRO div {width: 179.1px; height: 100px; cursor: pointer; position: relative; border-radius: 5px; display: flex; align-items: center; justify-content: center;}
.QEL-GRO div img {width: 30px;}
.QEL-GRP1, #block1 .GRP-TIT {background: var(--lucarion);}
.QEL-GRP2, #block2 .GRP-TIT {background: var(--orochi);}
.QEL-GRP3, #block3 .GRP-TIT {background: var(--meridiem);}
.QEL-GRP4, #block4 .GRP-TIT {background: var(--qalish);}
.QEL-GRP5, #block5 .GRP-TIT {background: var(--halogia);}
.QEL-GRP6, #block6 .GRP-TIT {background: var(--vagabonds);}

.GRP-TIT {border-radius: 5px 5px 0 0; display: flex; padding: 10px; justify-content: space-between; align-items: center; color: var(--white); text-align: right; font-family: RELIGATH; font-size: 32px; font-style: normal; font-weight: 400; line-height: normal; text-transform: uppercase;}
.GRP-TIT div {font-family: Rowdies; font-size: 15px;}
.GRP-TXT {scrollbar-width: none; overflow: auto; height: 189px; display: block; padding: 15px; text-align: justify;}

/*****FOOTER*****/
#page-footer {background-color: var(--black-01);}
.copyright-body {border-color: var(--black-02);}

.FOO {border-radius: 5px; background: var(--black-01); padding: 25px; width: 1200px; margin: 0 auto 25px auto;}
.FOO-TIT {display: flex; gap: 25px; align-items: center; margin: 0 0 10px 0;}
.FOO-TIT span, .FOO-TIT a {background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: RELIGATH; font-size: 48px; font-style: normal; font-weight: 400; line-height: normal;}
.FOO-TIT div {background: var(--white); height: 2px; width: 100%;}
.FOO-TIT a {font-family: Rowdies; font-size: 20px; font-style: normal; font-weight: 400; line-height: normal; white-space: nowrap;}
.FOO-PAR {display: flex; justify-content: center; gap: 7px; flex-flow: wrap;}
.FOO-PAR img {border-radius: 5px; width: 88px; height: 31px;}

/*****LISTE DES SUJETS*****/
ul.topiclist.forums {flex-direction: column;}
.CAT-TIT, .CAT-BOR, .CAT-INF, .CAT-DES {width: 412px;}
.CAT-DES img {height: 140px; top: -75px; left: 438px;}
#CAT-DES {display: none;}
.CAT-POS {margin: 10px 0; position: absolute; right: 25px; top: 25px;}
.CAT-POS .lastpost-infos {width: 253px;}
.CAT-SOU {margin-top: 15px;}
.CAT-DES img {opacity: 0.5; filter: grayscale(100%);}
.CAT-DES img:hover {opacity: 1; filter: grayscale(0%); transition:1s;}

.LIS-SUJ {background: var(--gradient-lr); padding: 15px; margin: 25px 0 0 0; border-radius: 5px 5px 0 0;}
.LIS-SUJ a {color: var(--white); font-family: RELIGATH; font-size: 48px; font-style: normal; font-weight: 400; line-height: normal;}
.sub-header-path {background: var(--black-02); padding: 15px 10px; font-size: 14px; color: var(--black-02); border-radius: 0 0 5px 5px;}
.sub-header-path a {color: var(--text-white); font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal;}
.LIS-NAV {display: flex; justify-content: space-between; margin: 25px 0;}
.LIS-MOD {background: var(--black-02); padding: 25px; display: flex; justify-content: space-between; margin: 25px 0 0 0; border-radius: 5px;}
.LIS-MOD .BTN1 a {font-size: 16px;}
.LIS-MDO {display: flex; gap: 15px;}

.BTN1, .BTN2 {border-radius: 5px; background: var(--blue); padding: 8px 10px; color: var(--white); font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal; height: 41px; display: flex; align-items: center;}
.BTN2 {background: var(--purple);}
.LIS-MOD .BTN1 {height: 34px;}

.LIS-BLC {display: flex; flex-flow: column; gap: 25px; list-style: none;}
.LIS-BLC li {font-size: 16px; padding: 25px; color: var(--text-white);}
.SUJ-LIS {border-radius: 5px; background: var(--black-01); padding: 15px 25px; display: flex; gap: 25px; align-items: center;}
.SUJ-IMG {width: 28.284px; height: 28.284px;}
.SUJ-TIT {display: flex; flex-flow: column; gap: 8px; width: 620px;}
.SUJ-TIT .pagination {float: none;}
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {border-radius: 5px; background: var(--black-02); width: 25px; height: 20px; color: var(--white); font-family: Rowdies; font-size: 11px; font-style: normal; font-weight: 400; line-height: 22px;}
.pagination span a:first-child {width: 22px; background: var(--blue);}
.SUJ-AUT {text-transform: capitalize; color: var(--text-white); font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal;}
.SUJ-TIT .topictitle {color: var(--text-white); font-family: Rowdies; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;}
#SUJ-NBR {display: flex; gap: 15px;}
.SUJ-NBR {border-radius: 5px; background: var(--gradient-tb); padding: 5px 10px; color: var(--white); font-family: RELIGATH; font-size: 20px; font-style: normal; font-weight: 400; line-height: normal; text-align: center;}
.SUJ-NBR b {font-family: Rowdies; font-size: 16px; font-weight: 300; text-transform: lowercase;}
.SUJ-NBR div {margin: 0 0 -10px 0;}
.SUJ-AVA {display: flex; gap: 15px;}
.SUJ-AVA .AVA-LAS img {width: 53px; height: 68px; padding: 0; border-radius: 8px; border: 5px solid var(--black-02);}
.SUJ-LAS {width: 209px; border-radius: 5px; background: var(--black-02); color: var(--text-white); font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal; padding: 0 25px; display: flex; gap: 5px; flex-direction: column; justify-content: center;}
.SUJ-LAS strong {font-size: 15px;}
.SUJ-LIS .SUJ-AVA img {width: auto;}

/*****PAGINATION*****/
a[href="javascript:Pagination();"], .pag-img, .page-sep {display: none!important;}
.PAGI {font-size: 0;}
.PAGI span {display: flex;}
.PAGI strong, .PAGI a {margin: 0 0 0 10px; color: var(--white); font-family: Rowdies; font-size: 20px; font-style: normal; font-weight: 400; line-height: normal; border-radius: 5px; background: var(--black-01); width: 42px; height: 41px; display: flex; align-items: center; justify-content: center;}
.PAGI strong {background: var(--blue);}

/*****BLOCS*****/
.NONE, .MES-NONE {display: none;}
.BLOC1 {border-radius: 5px; background: var(--black-01);}
.BLOC2 {border-radius: 5px; background: var(--black-02);}

/*****PROFIL*****/
.PRF {padding: 25px; font-style: normal; font-weight: 400; line-height: normal; color: var(--white); font-family: Rowdies;}
.PRF-TIT {padding: 15px; margin: 0 0 25px 0; display: flex; align-items: center; justify-content: space-between; background: var(--nonvalid); overflow: hidden; position: relative;}
.PRF-TIT .PRF-PSE strong {color: var(--white)!important; font-family: Rowdies; font-size: 48px;}
.PRF-TIT .PRFfield, .PRF-GAU .PRFfield div:first-child {font-size: 0;}
#PRF_citation {display: flex; gap: 5px; font-family: Arial; font-size: 15px;}
.PRFicon img {width: 140px; height: 140px; border: 20px solid rgba(0, 0, 0, 0.10); border-radius: 100px; position: absolute; top: -15px; right: 25px; object-fit:cover;}

.PRF-BAS {display: flex; gap: 25px;}
.PRF-GAU {display: flex; padding: 15px; flex-direction: column; gap: 24.5px; width: 135px;}
.GAU-BLO {height: 58px; font-size: 25px; position: relative; display: flex; align-items: center; justify-content: center; background:var(--black-03); border-radius: 5px;}
.GAU-TIT {position: absolute; right: 0; bottom: -3px; font-size: 13px; opacity: 0.6; text-transform: uppercase;}
.PRF-AVA {width: 270px; height: 390px; background: var(--nonvalid); padding: 25px; border-radius: 5px; margin: 0 0 25px 0;}
.PRF_AVA {width: 220px; height: 340px; background: rgba(0, 0, 0, 0.10); padding: 10px; border-radius: 5px;}
.PRF_AVA img {border-radius: 5px;}
.PRF-CON {display: flex; gap: 10px; flex-flow: wrap; width: 270px;}
.PRF_CON {width: 130px; height: 37.5px; display: flex; align-items: center; justify-content: center; color: var(--text-white); font-size: 13px; position: relative; text-transform: uppercase;}
.PRFmp form div, .PRF form a, .PRF form a img {display: none;}
.PRFmp form a:first-child, .PRFsujet a, .PRFmessages a, .PRF-CON .PRFfiche a {display: block; width: 130px; height: 37.5px; position: absolute; top: 0; left: 0;}
.PRF-BLO1 {width: 343px; height: 75px; margin: 0 0 10px 0;}
.PRF-BLO2 {width: 342px; height: 245px;}
.PRF-BLO3 {width: 695px; height: 75px;}
.PRF-BLO4 {width: 225px; height: 75px; margin: 10px 0 10px 0;}
.PRF-BLO5 {width: 342.5px; height: 75px;}

.PRF-TIT .PRFfield div, .PRFetiquettes .PRFfield div, .PRFfiche img {display: none;}
.PRF-TIT .PRFfield .field_uneditable, .PRFetiquettes .PRFfield .field_uneditable {display: block;}
.PRF-TIT .PRFfield {font-size: 15px;}
.PRF-TIT .json-oeilDivin .PRFfield .field_uneditable,
.PRF-BLO1 .PRFfield div, .PRF-BLO3 .PRFfield div, .PRF-BLO4 .PRFfield div, .PRF-BLO5 .PRFfield div,
.PRFfiche .PRFfield {font-size: 0;}

#etiquette {position: relative; overflow: hidden; padding: 15px; font-family: Arial; font-size: 16px; font-weight: 700; overflow-y: scroll; scrollbar-color: var(--black-02) var(--black-01); scrollbar-width: thin;}
.etiquette {position: absolute; bottom: -600px; right: 0; font-family: RELIGATH; font-size: 48px; opacity: 0.3; font-weight: 400;}
.PRF-BLO1, .PRF-BLO3, .PRF-BLO4, .PRF-BLO5 {padding: 15px 25px; display: flex; align-items: center;}
.PRF-BLO1 .PRFfield div span, .PRF-BLO3 .PRFfield div span, .PRF-BLO4 .PRFfield div span, .PRF-BLO5 .PRFfield div span, .PRFvisit span {font-family: Rowdies; font-size: 18px;}
.PRF-BLO1 .PRFfield .field_uneditable, .PRF-BLO3 .PRFfield .field_uneditable, .PRF-BLO4 .PRFfield .field_uneditable, .PRF-BLO5 .PRFfield .field_uneditable, .PRFvisit {font-family: Arial; font-size: 16px; font-weight: 700;}

/*****MESSAGES*****/
.SUJ-MES img {max-width: 820px;}
.LIS-SUJ {font-family: Rowdies; font-size: 24px;}
.SUJ-DIS {display: flex;}
.SUJET {border-radius: 5px; background: var(--black-01); padding: 25px; margin: 25px 0 0 0;}
.SUJ-HAU {display: flex; gap: 10px; margin: 0 0 25px 0;}
.SUJ-STI {position: sticky; top: 80px;}
.SUJET .SUJ-AVA {padding: 25px; border-radius: 5px;}
.SUJET .SUJ-AVA span {border-radius: 5px; padding: 10px; background: rgba(0, 0, 0, 0.10); width: 220px; height: 340px; overflow: hidden;}
.SUJET .SUJ-AVA img {width: 200px; height: 320px; object-fit:cover;}
.SUJ-INF {padding: 20px; border-radius: 5px; background: var(--black-02); margin: 10px 0 0 0; height: 238px;}
.SUJ-INF .PRFfield {color: var(--white); font-size: 15px;}
.SUJ-INF .PRFfield .label {font-size: 0;}
.SUJ-INF .label span {font-family: Rowdies; font-size: 15px; text-transform: lowercase;}
.SUJ-GAU .bouton {padding: 10px 15px; border-radius: 5px; text-align: right; font-family: Rowdies; font-size: 15px; margin: 10px 0 0 0;}
.contenu {visibility: hidden; position: absolute; bottom: 49px; transition: 0.5s; opacity: 0; width: 270px; background: var(--black-02); border-radius: 5px; height: 238px; padding: 15px; overflow: hidden;}
.contenu.ouvert {visibility: visible; opacity: 1; overflow-y: scroll; scrollbar-color: var(--black-02) var(--black-01); scrollbar-width: thin;}

.SUJ-DRO {display: flex; flex-flow: column; gap: 10px; width: 100%;}
.SUJ-NOM {position: relative; display: flex; align-items: center; justify-content: space-between; height: 107px; padding: 0 27px 0 15px; border-radius: 5px; overflow: hidden; font-family: Rowdies; font-size: 48px; color: var(--white);}
.SUJ-NOM strong {font-family: Rowdies; font-size: 48px; color: var(--white);}
.SUJ-NOM .json-oeilDivin {position: absolute; top: 30px; right: 130px;}
.SUJcita::before {content: '❝';}
.SUJcita::after {content: '❞';}
.SUJcita:empty {display: none;}
.SJTicon {border-radius: 100px; border: 20px solid rgba(0, 0, 0, 0.10);}
.SJTicon img {width: 100px; height: 100px; border-radius: 100px; object-fit:cover;}
.SJTicon .label {display: none;}
.SUJ-DAT {background: var(--black-02); padding: 15px; border-radius: 5px; display: flex; justify-content: space-between; font-weight: 700; font-size: 14px;}
.SUJ-DAT div {display: flex; gap: 10px;}
.SUJ-MES {background: var(--black-02); padding: 25px; border-radius: 5px; flex: 1 0 0; font-size: 15px;}

.SUJ-BAS {padding: 15px; border-radius: 5px; display: flex; justify-content: space-between;}
.SUJ-BASG, .SUJ-BASD {display: flex; gap: 10px;}
.SUJ-BASG > div {border-radius: 5px; background: rgba(0, 0, 0, 0.10); position: relative; width: 105px; height: 70px; display: flex; align-items: center; justify-content: center; font-family: Rowdies; font-size: 32px;}
.SUJ-BASG span {position: absolute; opacity: 0.6; font-family: Rowdies; font-size: 13px; right: 0; bottom: 0; color: var(--white)!important; text-transform: uppercase;}
.SUJ-BASG .label {font-size: 0; opacity: 1;}
.SUJ-BASD > div {border-radius: 5px; background: var(--black-02); width: 70px; height: 70px; display: flex; align-items: center; justify-content: center; margin: 0;}
.SUJ-BASD a {width: 70px; height: 70px; display: flex; align-items: center; justify-content: center;}

.SUJ-SUR {background: var(--black-01); display: flex; padding: 15px 10px; justify-content: flex-end; align-items: center; gap: 10px;}
.SUJ-SUR a {border-radius: 5px; background: var(--black-02); font-weight: 700; font-size: 16px; padding: 8px;}
.SUJ-CHA {border-radius: 0 0 5px 5px; margin: 0;}
.REP-RAP {margin: 0 0 25px 0;}
.REP-RAP .h3, .REP-RAP br {display: none;}

/*****LISTE DE MEMBRES*****/
.LIS-TIT {border-radius: 5px 5px 0px 0px; background: var(--gradient-lr); padding: 25px; display: flex; justify-content: space-between; font-family: RELIGATH; font-size: 48px;}
.LIS-TIT form {font-family: Rowdies; font-size: 15px; display: flex; align-items: end; gap: 25px;}
.LIS-TIT input, .LIS-TIT select, .GRP-ADM .inputbox {border-radius: 5px; opacity: 0.25; background: var(--black-01); padding: 8px; width: auto; border: none; color: var(--white); font-size: 15px; box-shadow: none;}
.LIS-TIT input:hover, .LIS-TIT select:hover {border: none; box-shadow: none;}
.LIS-TIT .LIS-OK {background: var(--black-02); opacity: 1; text-transform: uppercase;}
.LIS-PAG {border-radius: 5px 5px 0px 0px; background: var(--black-02); padding: 25px;}
.LIS-MEM {padding: 25px; display: flex; flex-flow: wrap; gap: 25px; background: var(--black-01); border-radius: 0 0 5px 5px;}
.LIS-BLO {border-radius: 5px; padding: 25px; width: 562.5px; display: flex; gap: 25px; justify-content: space-between; align-items: center;position:relative;}
.LIS-DRO {display: flex; flex-flow: column; gap: 15px;}
.LIS-DRO a {font-family: Rowdies; font-size: 24px; text-transform: uppercase; color: var(--nonvalid);}
.LIS-GAU div {width: 190px; height: 190px; border: 15px solid var(--black-02);}
.LIS-GAU span {width: 160px; height: 160px; overflow: hidden; display: block; position: relative;}
.LIS-GAU img {width: 160px; position: absolute; top: -48px;}
.LIS-INF {display: flex; gap: 25px;}
.LIS-BOU a {width: 50px; height: 43px; display: flex; align-items: center; justify-content: center; border-radius: 5px;}
.LISfiche a::before {font-family: "Font Awesome 6 Free"; content: "\f15c"; font-size: 20px; color: var(--white);}
.LISmp a::before {font-family: "Font Awesome 6 Free"; content: "\f0e0"; font-size: 20px; color: var(--white);}
.LISmp {margin: 25px 0 0 0;}
.LISmp img {display: none;}
.LIS-FOS {font-weight: 700; font-size: 15px; color: var(--text-white);}
.LIS-FOS b {font-family: Rowdies; font-size: 16px; font-weight: 400;}

/*****GROUPES*****/
.GROUPES a {display: flex; align-items: center; justify-content: center; width: 366px; height: 88px; font-family: RELIGATH; font-size: 48px; border-radius: 5px; color: var(--white)!important;}
.GROUPES a[href="/g1-administrateurs"], .GROUPES a[href="/g2-moderateurs"] {display: none;}
.GROUPES a[href="/g20-lucarion"] {background: var(--lucarion);}
.GROUPES a[href="/g19-orochi"] {background: var(--orochi);}
.GROUPES a[href="/g17-meridiem"] {background: var(--meridiem);}
.GROUPES a[href="/g18-qalish"] {background: var(--qalish);}
.GROUPES a[href="/g11-halogia"] {background: var(--halogia);}
.GROUPES a[href="/g4-vagabonds"] {background: var(--vagabonds);}
.GROUPES a[href="/g21-non-valides"] {background: var(--nonvalid); width: 100%;}

.GROUPE {background: transparent;}
.GRP-MEM {border-radius: 5px; background: var(--black-02); padding: 15px; width: 366px;}
.GRP-DIS {display: flex; align-items: center; gap: 10px;}
.GRP-USE strong {color: var(--white); font-family: Rowdies; font-size: 22px; text-transform: uppercase;}
.GRP-MES {font-size: 16px; font-weight: 700; margin: 10px 0;}
.GRP-MEM img {display: none;}
.GRP-MEM .LIS-INF {align-items: center;}
.GRP-MEM .LIS-INF a {width: 155.5px; height: 49px; border-radius: 5px; background: var(--nonvalid); display: flex; align-items: center; justify-content: center;}
.GRP-MEM .LISmp {margin: 0;}
.GRP-ADM {display: flex; justify-content: space-between; align-items: center; margin: 25px 0 0 0; border-radius: 5px;}
.GRP-ADM .button2 {border-radius: 5px; background: var(--black-02); font-weight: 700; font-size: 16px; padding: 8px;}
.GRP-ADM .inputbox {background: var(--purple);}

/*****RECHERCHER PAR MESSAGE*****/
.RES-POS {background: var(--black-01); border-radius: 5px; padding: 25px;}
.RES-TXT {border-radius: 5px; background: var(--black-02);width: auto; padding: 25px;}

/*****MESSAGERIE PRIVEE*****/
.MES-DIS {display: flex; justify-content: space-between;}
.MES-NEW {border-radius: 5px; background: var(--blue); font-size: 16px; font-weight: 700; padding: 8px;}
#privmsgs-menu {background: transparent; padding: 0; margin: 0; box-shadow: none;}
#privmsgs-menu > li {min-height: auto; min-width: auto; padding: 8px; background: var(--black-01); border-radius: 5px; margin: 0 0 0 15px;}
.MES-BLC {background: var(--black-01); padding: 25px; border-radius: 0 0 5px 5px;}
.MES-BLC .row {border-radius: 5px; background: var(--black-02); padding: 25px;}
.MES-BLC .icon {padding: 0 0 0 30px; background-position: left; background-size: 20px 20px !important; display: flex; align-items: center; justify-content: space-between;}
.MES-BLC .topictitle {font-family: Rowdies; font-size: 16px; font-weight: 300;}
span.CAT-SEP {display: inline-block;}
.MES-BLC em {font-size: 16px; font-style: normal;}
.MES-BOU {display: flex; gap: 15px; flex-flow: wrap; align-items: center; max-width: 558px; justify-content: right;}
.MES-BOU a {border-radius: 5px; background: var(--purple); padding: 8px; font-weight: 700; font-size: 16px;}
input[type="submit"], .button, .button1, .button2 {margin-left: 0!important; background: var(--black-01); padding: 8px; font-weight: 700; font-size: 13px; color: var(--white)!important;}

/***LIRE LE MESSAGE***/
.MES-FOR {display: flex; gap: 25px; border-radius: 5px;}
.MES-STI {position: sticky; top: 80px;}
.MES-STI img {width: 230px; max-width: 230px!important; height: 350px; border: 15px solid var(--black-02);}
.MES-HAU {border-radius: 5px; background: var(--black-02); padding: 15px; display: flex; align-items: center; gap: 8px; margin: 0 0 25px 0;}
.topic-actions {margin: 25px 0;}

/*****EDIT*****/
.sceditor-toolbar {background: var(--gradient-lr) !important; padding: 15px !important; border: none !important;}
.sceditor-container iframe, 
.sceditor-container textarea,
.sceditor-container.ltr.sourceMode {background: var(--black-02) !important; border: none !important; color: var(--text-white) !important; font-size: 16px !important;}
.sceditor-group {background: var(--black-01) !important; border-radius: 5px !important; padding: 5px !important; margin: 5px !important;}
.sceditor-button:hover {background: var(--gradient-lr) !important;}
#sceditor_smilies{background: var(--black-02) !important;}

/*titre du message*/
#postingbox input {background: var(--black-02); border: none; padding: 9px; border-radius: 5px; color: var(--text-white);}
#preview {background: var(--black-02); border: 25px solid var(--black-01); padding: 15px;}


/*pour l'édition du profil*/
#ucp .panel dl {color: var(--text-white) !important;}
#ucp span {color: var(--text-white) !important;}

#ucp input[type="text"], #ucp .inputbox, select#profile_field_7_12 {background:var(--black-02); border: none; padding: 5px; border-radius: 5px; color: var(--text-white);}
.json-oeilDivin {font-size: 0px; background: var(--black-02); width: 50px; height: 50px; border-radius: 100%; position: absolute; z-index: 2; display: flex; justify-content: center; align-items: center; font-size:0;}
.PRF-TIT .json-oeilDivin {right: 130px;}
.LIS-BLO .json-oeilDivin {bottom: 13px;right: 180px;}
.json-oeilDivin img {height:50%;}

/*** Les éléments !  --------------- ***/
.pyro {color: var(--pyro);}
.cryo {color: var(--cryo);}
.hydro {color: var(--hydro);}
.geo {color: var(--geo);}
.anemo { color: var(--anemo);}
.electro {color: var(--electro);}
.dendro {color: var(--dendro);}
.cosmo {color: var(--cosmo);}
.astro {color: var(--astro);}

/*****FICHE ADMINISTRATIVE*****/
.fiche-admin {border-radius: 15px; background: var(--black-01); padding: 30px; width: 820px;}
.fiche-image {background-color: var(--black-02); margin: 0 0 20px 0; border-radius: 5px; overflow: hidden;}
.fiche-image img {opacity: 0.5; filter: grayscale(1); width:760px; height:250px; object-fit:cover;}
.fiche-texte {margin: 0 25px; color: var(--text-white); text-align: justify;}
.fiche-titre {font-family: RELIGATH; font-size: 40px; border-bottom: 5px solid transparent; border-image: var(--gradient-lr); border-image-slice: 1; width: fit-content;}
.fiche-soustitre {background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: fit-content; text-transform: uppercase; font-family: Rowdies; font-size: 20px; font-weight: 700;}
.fiche-soustexte {font-size: 15px; font-weight: 700; text-transform: uppercase;}
.fiche-abc {border-radius: 5px; background: var(--gradient-lr); width: fit-content; font-family: Rowdies; font-size: 16px; font-weight: 700; text-transform: uppercase; padding: 10px;}
span.fiche-perso {font-weight: 700;}
span.fiche-perso i {color: rgba(255, 255, 255, 0.60);}
.fiche-fond {border-radius: 5px; background: var(--black-02); padding: 5px;}


/*pour l'image*/
.rp-image {position:relative; background-repeat:no-repeat; background-size: cover; background-position: center; filter: grayscale(1); filter: grayscale(100%) contrast(75%) brightness(50%); mix-blend-mode: soft-light; height: 210px;}
.rp-titre h2 {margin:0; width: 570px; font-family: Rowdies; font-size: 36px; font-weight: 400;}
.rp-titre {position:absolute; top:0px; display: flex; align-items: center; justify-content: space-between; background: linear-gradient(180deg, rgba(29, 28, 34, 0.00) 0%, var(--black-01) 100%); height: 210px; width:100%; padding: 10px 35px;}
.icons-feat {width: 130px; display: flex; flex-wrap: wrap; gap: 10px;}
.icons-feat img {width:60px; height:60px; border:5px solid var(--black-02); border-radius:5px;}
.rp-text {background:var(--black-01); padding:30px; font-family: arial; font-size:15px; color:var(--text-white); line-height: 18px; text-align: justify;}
.dialogue {display:flex; gap:15px; justify-content: flex-start; margin:15px 0px;}
.dialogue h3 {margin:0px 0px 10px 0px; font-size:20px; font-family: Rowdies; width:100%; display:flex; border: none;}
.Dleft, .Dleft :is(.dialogue h3) {flex-direction: row;justify-content: flex-start;}
.Dright, .Dright :is(.dialogue h3) {flex-direction: row-reverse;justify-content: flex-start;}
.dialogue img {width:80px; height:80px; border-radius:100%; box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.1); padding:10px;}
.dialogue p {background: var(--black-02); padding:20px; border-radius:5px; margin:0;}
.notes {background: rgba(0, 0, 0, 0.35); padding:15px; font-family: arial; font-size:15px; color:var(--text-white);}

/*pour gérer les couleurs de dialogue*/
.D-orochi :is(.dialogue img) {background:var(--orochi);}
.D-orochi :is(h3) {color:var(--orochi);}

.D-lucarion :is(.dialogue img) {background:var(--lucarion);}
.D-lucarion :is(h3) {color:var(--lucarion);}

.D-meridiem :is(.dialogue img) {background:var(--meridiem);}
.D-meridiem :is(h3) {color:var(--meridiem);}

.D-qalish :is(.dialogue img) {background:var(--qalish);}
.D-qalish :is(h3) {color:var(--qalish);}

.D-halogia :is(.dialogue img) {background:var(--halogia);}
.D-halogia :is(h3) {color:var(--halogia);}

.D-vagabonds :is(.dialogue img) {background:var(--vagabonds);}
.D-vagabonds :is(h3) {color:var(--vagabonds);}

/*****COULEURS GROUPES*****/
.couleur-lucarion {color: var(--lucarion)!important;}
.couleur-orochi {color: var(--orochi)!important;}
.couleur-meridiem {color: var(--meridiem)!important;}
.couleur-qalish {color: var(--qalish)!important;}
.couleur-halogia {color: var(--halogia)!important;}
.couleur-vagabonds {color: var(--vagabonds)!important;}
.couleur-mom {color: var(--blue)!important;}
.couleur-staff {color: var(--purple)!important;}
.couleur-nonvalid {color: var(--nonvalid) !important;}

.fond-lucarion {background: var(--lucarion)!important;}
.fond-orochi {background: var(--orochi)!important;}
.fond-meridiem {background: var(--meridiem)!important;}
.fond-qalish {background: var(--qalish)!important;}
.fond-halogia {background: var(--halogia)!important;}
.fond-vagabonds {background: var(--vagabonds)!important;}
.fond-nonvalid {background: var(--nonvalid) !important;}
.fond-mom {background: var(--blue)!important;}
.fond-staff {background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);!important;}

/*****FICHE ADMINISTRATIVE*****/
.fiche-admin {border-radius: 15px; background: var(--black-01); padding: 30px; width: 820px;}
.fiche-image {background-color: var(--black-02); margin: 0 0 20px 0; border-radius: 5px; overflow: hidden;}
.fiche-image img {opacity: 0.5; filter: grayscale(1);}
.fiche-texte {margin: 0 25px; color: var(--text-white);}
.fiche-titre {font-family: RELIGATH; font-size: 40px; border-bottom: 5px solid transparent; border-image: var(--gradient-lr); border-image-slice: 1; width: fit-content;}
.fiche-soustitre {background: var(--gradient-lr); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: fit-content; text-transform: uppercase; font-family: Rowdies; font-size: 20px; font-weight: 700;}
.fiche-soustexte {font-size: 15px; font-weight: 700; text-transform: uppercase;}
.fiche-abc {border-radius: 5px; background: var(--gradient-lr); width: fit-content; font-family: Rowdies; font-size: 16px; font-weight: 700; text-transform: uppercase; padding: 10px;}
span.fiche-perso {font-weight: 700;}
span.fiche-perso i {color: rgba(255, 255, 255, 0.60);}
.fiche-fond {border-radius: 5px; background: var(--black-02); padding: 5px;}

/***FICHE ROLE***/
.fiche-role {display: flex; gap: 15px;}
.role-gauche {display: flex; gap: 15px; flex-flow: column;}
.role-titre {border-radius: 5px; padding: 10px 15px; text-align: right; display: flex; justify-content: space-between; font-family: Rowdies; font-size: 20px; text-transform: uppercase;}
.role-dispo, .role-pris {border-radius: 5px; padding: 8px; font-size: 11px;}
.role-dispo {background: #578B5C;}
.role-pris {background: #8B5757;}
.role-texte {border-radius: 5px; background: var(--black-02); padding: 15px 25px; min-width: 500px;}
.role-texte span {font-family: Rowdies; font-size: 15px;}
.role-image {position: sticky; top: 80px;}
.role-image img {width: 200px; height: 320px; border-radius: 5px; object-fit: cover;}

/***FICHE TECHNIQUE***/
.fiche-technique {display: flex; gap: 10px;}
.technique-gauche {display: flex; gap: 15px; flex-flow: column;}
.technique-titre {border-radius: 5px; padding: 10px 15px; text-align: right; display: flex; justify-content: space-between; font-family: Rowdies; font-size: 20px; text-transform: uppercase;}
.technique-dispo, .role-pris {border-radius: 5px; padding: 8px; font-size: 11px;}
.technique-dispo {background: #578B5C;}
.technique-pris {background: #8B5757;}
.technique-texte {border-radius: 5px; background: var(--black-02); padding: 15px 25px;}
.technique-texte span {font-family: Rowdies; font-size: 15px;}
.technique-image {position: sticky; top: 80px;}
.technique-image img {width: 200px; height: 200px; border-radius: 5px; object-fit:cover;}

/***FICHE-RP***/
.fiche-rp {position: relative; overflow: hidden; background: var(--black-01); width: 820px; border-radius: 5px;}

/*pour l'image*/
.rp-image {position:relative; background-repeat:no-repeat; background-size: cover; background-position: center; filter: grayscale(1); filter: grayscale(100%) contrast(75%) brightness(50%); mix-blend-mode: soft-light; height: 210px;}
.rp-titre h2 {margin:0; width: 570px; font-family: Rowdies; font-size: 36px; font-weight: 400;}
.rp-titre {position:absolute; top:0px; display: flex; align-items: center; justify-content: space-between; background: linear-gradient(180deg, rgba(29, 28, 34, 0.00) 0%, var(--black-01) 100%); height: 210px; width:100%; padding: 10px 35px;}
.icons-feat {width: 130px; display: flex; flex-wrap: wrap; gap: 10px;}
.icons-feat img {width:60px; border:5px solid var(--black-02); border-radius:5px;}
.rp-text {background:var(--black-01); padding:30px; font-family: arial; font-size:15px; color:var(--text-white); line-height: 18px; text-align: justify;}
.dialogue {display:flex; gap:15px; justify-content: flex-start; margin:15px 0px;}
.dialogue h3 {margin:0px 0px 10px 0px; font-size:20px; font-family: Rowdies; width:100%; display:flex; border: none;}
.Dleft, .Dleft :is(.dialogue h3) {flex-direction: row;justify-content: flex-start;}
.Dright, .Dright :is(.dialogue h3) {flex-direction: row-reverse;justify-content: flex-start;}
.dialogue img {width:80px; height:80px; border-radius:100%; box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.1); padding:10px;}
.dialogue p {background: var(--black-02); padding:20px; border-radius:5px; margin:0;}
.notes {background: rgba(0, 0, 0, 0.35); padding:15px; font-family: arial; font-size:15px; color:var(--text-white);}

/*pour gérer les couleurs de dialogue*/
.D-orochi :is(.dialogue img) {background:var(--orochi);}
.D-orochi :is(h3) {color:var(--orochi);}

.D-lucarion :is(.dialogue img) {background:var(--lucarion);}
.D-lucarion :is(h3) {color:var(--lucarion);}

.D-meridiem :is(.dialogue img) {background:var(--meridiem);}
.D-meridiem :is(h3) {color:var(--meridiem);}

.D-qalish :is(.dialogue img) {background:var(--qalish);}
.D-qalish :is(h3) {color:var(--qalish);}

.D-halogia :is(.dialogue img) {background:var(--halogia);}
.D-halogia :is(h3) {color:var(--halogia);}

.D-vagabonds :is(.dialogue img) {background:var(--vagabonds);}
.D-vagabonds :is(h3) {color:var(--vagabonds);}

/*** Fiche de présentation de MOM --------------- ***/
.model_Message {
  width: 820px;
  margin: auto;
  border: solid 10px var(--neutralDark);
  border-radius: 10px;
  background: var(--black-01);
  text-align: justify;
  overflow: auto;
  overflow-wrap: break-word;
}
.titre_Message {
 font-family: var(--font);
 font-size: 50px;
 font-weight: 900;
 text-transform: uppercase;
 text-align: center;
 display: block;
 width: 100%;
 margin-right: auto;
 margin-left: auto;
 margin-top: -40px;
 margin-bottom: -10px;
 text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #d1bf91, 0 -10px 20px #d1bf91, 0 -18px 40px #121216;
}
.soustitre_Message {font-family: var(--font);font-weight: 700;display: block;text-align: center;font-size: var(--title-size);color : var(--textColorAccent);
}
.sectiontitre_Message {width: 100%;height: 50px;border-bottom: 2px solid #c2c2c2;font-family: var(--font);margin: 0;color: var(--contrastLighter);letter-spacing: -2px;position: relative;margin-bottom: 5px;text-align: left;font-size: var(--title-size);font-weight: 700;text-transform: uppercase;margin-bottom: 20px;margin-top: 20px;}
.sectiontitre_Message span {color : var(--textColorAccent);}
.sectiontitre_Message:after {width: 100%;content: " ";height: 2px;background: var(--color-pink);position: absolute;bottom: -7px;left: 0;}
.sectionintro_Message {display: flex;flex-direction : row;width: 820px;max-height: 320px;margin-bottom: 40px;}
.sectiongauche_Message {display: flex;flex-direction : column;width: 530px;margin-right: 15px;padding-right: 15px;overflow: auto;}
.avatar_Message {
    border-radius: 5px;
    width : 200px;
    height : 320px;
    object-fit: cover;
}
.sectionend_Message {
    display: flex;
    flex-direction : row-reverse;
    width: 515px;
    max-height: 100px;	
    margin-bottom: 20px;
}
.sectiondroite_Message {
    display: flex;
    flex-direction : column;
    width: 415px;
    margin-left: 15px;
    padding-left: 15px;
    overflow: auto; 
}
.irl_Message { 
   border-radius: 3px;
   width: 100px;
   height: 100px;
   object-fit: cover;
}
.inner_Message {
  padding:40px; 
  text-align:justify;
  font-size : var(--normal-size);
}
.model_Message .img_Message { 
  width: 820px;
  height: 240px;
  object-fit : cover;
  border-radius: 3px 3px 0px 0px;
}
.model_Message strong {
  color: var(--textColorAccent);
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}